.landing-image{
    background-color: #213AD0;
    position: absolute;
    top: 226px;
    left: 457px;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: 2px solid #415aef;
    box-shadow: 0px 0px 0px 9px #fff inset;
    transition: transform .5s ease;
  }

  .landing-image:hover{
    transform: scale(.9);
  }
  
  .landing-image-center{
    text-align: center;
    position: relative;
      top: 39%;
  }
  
  .above-text{
    position: absolute;
    top: 434px;
    left: 519px;
    height: 200px;
    width: 200px;
    color: #565656;
  }
  .above-text h3{
    font-size: 16px;
  }

  .fade{
    -webkit-transition: opacity 2s; 
    transition: opacity 2s;
    opacity: 0;
}
  
  