

/** Home Page **/

.home-image{
  position: relative;
  top: 224px;
  left: 476px;
    height: 195px;
    width: 195px;
    
   
  }
  
  .home-image-center{
    text-align: center;
    position: relative;
     
  }
  .home-image-center img {
    width: 191px;
  }
  
  .above-text{
    position: absolute;
    top: 206px;
    left: 69px;
    height: 200px;
    width: 200px;
    color: #565656;
  }
  .above-text h3{
    font-size: 16px;
  }
  .circle {
    position: absolute;
    top: 218px;
    left: 580px;
    border: 2px dashed #213AD0;
    background-color: #FFFFFF;
    height: 210px;
    width: 210px;
    border-radius:50%;
    animation: spin 10s linear infinite;
    
}
@keyframes spin { 
  100% { 
    transform: rotateZ(360deg); 
  }
}


  .animate-opacity{animation:opac 6.8s}@keyframes opac{from{opacity:0} to{opacity:1}}